.goods__item_image {
    border-radius: 20px;
    box-shadow: -20px 40px 220px rgba(0, 0, 0, 0.05);
    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
    min-width: 300px;
    padding: 20px;
}

@media screen and (max-width: 399px) {
    .goods__item_image {
        min-width: none;
        box-shadow: -20px 60px 220px rgba(0, 0, 0, 0);
    }
}