.container__title {
  font-weight: 700;
  font-size: calc(100vw * 0.0382);
  line-height: calc(100vw * 0.042);
  line-height: 60px;
  letter-spacing: -0.5px;
  margin: 0;
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .container__title {
    font-size: calc(100vw * 0.1);
    line-height: calc(100vw * 0.125);
  }
}