.container__button {
  width: 180px;
  height: 50px;
  background-color: #24b47e;
  grid-column: 1/2;
  grid-row: 3/4;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 4px;
  padding: 0;
  margin: 0 0 117px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  transition: opacity .3s;
}

@media screen and (max-width: 768px) {
  .container__button {
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 520px) {
  .container__button {
    width: 284px;
    height: 46px;
  }
}


.container__button:hover {
  opacity: .7;
}