.goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 240px);
    margin: 0 auto;
    padding: 60px 0;
}

@media screen and (max-width: 768px) {
    .goods {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 399px) {
    .goods {
        width: calc(100% - 36px);
    }
}