.page__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    opacity: .7;
    margin: 0;
    max-width: 460px;
}

@media screen and (max-width: 399px) {
    .page__paragraph {
        font-size: 12px;
        line-height: 18px;
    }
}