.goods__item_title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 22px 0 0 0;
}

@media screen and (max-width: 399px) {
    .goods__item_title {
        margin: 0;
        padding-bottom: 16px;
    }
}